{% extends 'base.html.twig' %}

{% block title %}Edit Intervenant{% endblock %}

{% block body %}
    <h1>Edit Intervenant</h1>

    {{ include('intervenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_intervenant_index') }}">back to list</a>

    {{ include('intervenant/_delete_form.html.twig') }}
{% endblock %}
