{% extends 'base.html.twig' %}

{% block title %}New Intervenant{% endblock %}

{% block body %}
    <h1>Create new Intervenant</h1>

    {{ include('intervenant/_form.html.twig') }}

    <a href="{{ path('app_intervenant_index') }}">back to list</a>
{% endblock %}
