{% extends 'base.html.twig' %}

{% block title %}New Intervenant{% endblock %}

{% block body %}
    <h1 class="text-center mt-3" style="font-family: Bungee; color: white;">Bienvenue Intervenant!</h1>

    {{ include('intervenant/_form.html.twig') }}
{% endblock %}
