{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block stylesheets %}
    <style>
        .login-card {
            background-color: #FFC9D2;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 45px;
            box-shadow: 0 4px 8px;
            margin-right: 150px;
            margin-left: 150px;
            margin-bottom: 50px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <header class="text-center p-1 mb-4">
        <h1 class="my-5" style="font-family: Bungee; color: rgb(255, 255, 255);">Ravi de vous revoir!</h1>
    </header>

    <div class="login-card">
    
        <form action="{{ path('app_login') }}" method="post">

            <div class="col-md-6 d-grid gap-2 p-5">
                <label for="username" class="form-label" style="font-family: Ubuntu;">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>
        
                <label for="password" class="form-label" style="font-family: Ubuntu;">Password:</label>
                <input type="password" id="password" name="_password" class="form-control" required>
        
                <input type="hidden" name="_target_path" value="/evenement">
            
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-5">Se connecter</button>
                    <a href="{{ path('app_home') }}" class="btn btn-outline-dark mt-3 text-decoration-none">Retour à l'accueil</a>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
