{% extends 'base.html.twig' %}

{% block title %}New Organisateur{% endblock %}

{% block body %}
    <h1>Create new Organisateur</h1>

    {{ include('organisateur/_form.html.twig') }}

    <a href="{{ path('app_organisateur_index') }}">back to list</a>
{% endblock %}
